.LeftParagraph {
    display: flex;
    justify-content: space-evenly;
    max-width: 75vw;
    align-items: center;
    gap: 2vw;
}

.left-par-left-area {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.left-par-title-area {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-size: 58px;
    max-width: 550px;
    align-items: start;
}

.left-par-title-area div {
    max-height: 7.5vh;
}

.left-par-content-area {
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 32px;
    max-width: 800px;
    align-items: start;
}

.left-par-right-img-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-par-right-img-area img {
    border-radius: 100%; /* Makes the corners round, forming a circle */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
    overflow: hidden; /* Ensures content outside the circle is hidden */
    width: 300px;
    height: 300px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    flex-shrink: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    .left-par-title-area {
        font-size: 3rem;
    }

    .left-par-content-area {
        font-size: 2rem;
    }

    .left-par-right-img-area {
        display: none;
    }

}

@media only screen and (min-width: 601px) and (max-width: 699px) {
    .left-par-title-area {
        font-size: 1.5rem;
    }

    .left-par-content-area {
        font-size: 1rem;
        width: 50vw;
    }

    .left-par-right-img-area img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1109px) {
    .left-par-title-area {
        font-size: 2rem;
    }

    .left-par-content-area {
        font-size: 1.5rem;
    }

    .left-par-right-img-area {
        width: 400px;
    }

    .left-par-right-img-area img {
        width: 200px;
        height: 200px;
    }
}