.LeftParagraph {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Important for top-alignment */
    max-width: 75vw;
    margin: 0 auto; /* optional if you want the entire section centered on the page */
}

.left-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.left-section-title {
    /* remove display: flex and align-items if not needed */
    font-family: Inter, sans-serif;
    font-size: 58px;
    text-align: left;
}

.left-section-paragraph {
    /* remove display: flex; */
    display: block;
    font-family: Inter, sans-serif;
    font-size: 32px;
    text-align: left; /* ensures the text is left-aligned */
}

.right-section {
    display: flex;
    flex-direction: column;
}

.right-section img {
    border-radius: 100%; /* Makes the corners round, forming a circle */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
    overflow: hidden; /* Ensures content outside the circle is hidden */
    width: 300px;
    height: 300px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    flex-shrink: 0;
}