.section-one {
    display: flex;
    font-family: Inter, sans-serif;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 55vw;
}

.title {
    font-size: 4rem;
    font-weight: 600;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
}

.content {
    font-size: 2rem;
    max-width: 44vw;
}

.right {
    display: flex;
    align-items: center;
}

.right img {
    z-index: 0;
    position: absolute;
    max-width: 50vw;
}