@import "tailwindcss";
@import "tailwindcss-intersect";

@plugin "tailwindcss-motion";

.header {
    z-index: 4;
}

.body {
    margin: 0 5vw;
    z-index: 0;
}

.white-bg,
.section-one {
    position: relative;
    z-index: 0; /* or 0, as long as it's lower than the image */
}

.spacer.waves {
    position: relative;
    z-index: 3; /* highest, so it stays above the image */
}

.white-bg {
    background-color: white;
}

.grey-bg {
    background-color: #E1E1E1;
}

.header-gap {
    margin-top: 10vw;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.waves {
    background-image: url("/public/SVG/layered-waves-haikei.svg");
}

.waves-rev {
    background-image: url("/public/SVG/rev-1.svg");
    margin-bottom: -12vw;
}

.low-margin {
    margin-top: -12vw;
}

.image-one {
    position: absolute;
    max-height: 80%;
    max-width: 50%;
    right: 0;
    top: 15%;
    z-index: 2;
}