.header {
    position: fixed;
    top: 0;
    padding: 1vw;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    background-image: linear-gradient(to right, white, lightblue);
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
}

.header-sections {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.header-sections * {
    font-family: Inter, sans-serif;
    font-size: 1.1vw;
}

.header-sections Link {
    color: black;
    transition: color 0.2s;
}

.header-sections Link:hover {
    color: white;
}

Link {
    text-decoration: none;
    color: black;
}

.prod-text {
    display: flex;
    flex-direction: column;
}

.current-section {
    font-weight: bold;
}