.prod-par-content {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-size: 16px;
    max-width: 500px;
    position: absolute;
    padding: 15px 20px;
    z-index: 100;
    top: 0;
}

/* Single element for both borders with rounded corner */
.prod-par-content::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 140%; /* Width of bottom border */
    height: 25%; /* Height of left border */
    background: transparent;
    border-left: 3px solid #fdc1cc;
    border-bottom: 3px solid #fdc1cc;
    border-radius: 10px;
}

.prod-par-title {
    padding: 0.3vw 0.3vw 0.3vw 1vw;
    background: linear-gradient(-45deg, #65aec8, #fdc1cc, #aed7e6, #ffa7b7);
    background-size: 400% 400%;
    animation: gradient 15s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-radius: 1rem;
    font-weight: bold;
}

.prod-par-description {
    margin-top: 10px;
    padding-left: 5px;
}